input.ng-invalid.ng-touched {
  border-color: red;
}

// .form-control {
//   border: 1px solid #ced4da; /* Définit une bordure par défaut */
// }

input.ng-valid {
  border-color: green;
}

// input.ng-invalid.ng-touched.ng-errors {
//   border-color: red;
// }

.form-floating {
  position: relative;
}

.icon {
  position: absolute;
  right: 20px;
  top: 25%;

  i {
    font-size: 25px;
  }
}
