<div id="layoutAuthentication">
  <div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                  <h3 class="text-center font-weight-light my-4">
                    Create Account
                  </h3>
                </div>
                <div class="card-body">
                  <form (ngSubmit)="onSubmit()" #registerForm="ngForm" [formGroup]="registrationForm">
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" id="inputFirstName" type="text"
                            placeholder="Enter your first name" formControlName="firstname" />
                          <div class="icon">
                            <span *ngIf="!f.firstname.errors && f.firstname.touched"><i
                                class="pi pi-check text-success"></i></span>
                            <span *ngIf="f.firstname.errors && f.firstname.touched"><i
                                class="pi pi-times text-danger"></i></span>
                          </div>
                          <label for="inputFirstName">First name</label>
                          <span class="d-block text-danger" *ngIf="f.firstname.touched && f.firstname.invalid">First
                            name is required</span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating">
                          <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name"
                            formControlName="lastname" />
                          <div class="icon">
                            <span *ngIf="!f.lastname.errors && f.lastname.touched"><i
                                class="pi pi-check text-success"></i></span>
                            <span *ngIf="f.lastname.errors && f.lastname.touched"><i
                                class="pi pi-times text-danger"></i></span>
                          </div>
                          <label for="inputLastName">Last name</label>
                          <span class="d-block text-danger" *ngIf="f.lastname.touched && f.lastname.invalid">
                            Last name is required</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-floating mb-3">
                      <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com"
                        formControlName="email" />
                      <div class="icon">
                        <span *ngIf="!f.email.errors && f.email.touched"><i class="pi pi-check text-success"></i></span>
                        <span *ngIf="f.email.errors && f.email.touched"><i class="pi pi-times text-danger"></i></span>
                      </div>
                      <label for="inputEmail">Email address</label>
                      <div *ngIf="!submitted && f.email.errors && f.email.touched" class="text-danger">
                        <div *ngIf="f.email.errors.required">
                          Email is required
                        </div>
                        <div *ngIf="f.email.errors.email">
                          Email must be a valid email address
                        </div>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" id="inputPassword" type="password" placeholder="Create a password"
                            formControlName="password" />
                          <div class="icon">
                            <span *ngIf="!f.password.errors && f.password.touched"><i
                                class="pi pi-check text-success"></i></span>
                            <span *ngIf="f.password.errors && f.password.touched"><i
                                class="pi pi-times text-danger"></i></span>
                          </div>
                          <label for="inputPassword">Password</label>
                          <div *ngIf="!submitted && f.password.errors && f.password.touched" class="text-danger">
                            <div *ngIf="f.password.errors.required">
                              Password is required
                            </div>
                            <div *ngIf="f.password.errors.minlength">
                              Password must be at least 6 characters long
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                          <input class="form-control" id="inputPasswordConfirm" type="password"
                            placeholder="Confirm password" formControlName="confirmPassword" />
                          <div class="icon">
                            <span *ngIf="!f.confirmPassword.errors && f.confirmPassword.touched"><i
                                class="pi pi-check text-success"></i></span>
                            <span *ngIf="f.confirmPassword.errors && f.confirmPassword.touched"><i
                                class="pi pi-times text-danger"></i></span>
                          </div>
                          <label for="inputPasswordConfirm">Confirm Password</label>
                          <div *ngIf="!submitted && f.confirmPassword.errors && f.confirmPassword.touched"
                            class="text-danger">
                            <div *ngIf="f.confirmPassword.errors.required">
                              Confirm password is required
                            </div>
                            <div *ngIf="f.confirmPassword"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-4 mb-0">
                      <div class="d-grid">
                        <button class="btn btn-primary btn-block" [disabled]="registerForm.invalid">
                          Create Account
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center py-3">
                  <div class="small">
                    <a routerLink="/login">Have an account? Go to login</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutAuthentication_footer">
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2021</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>